<?xml version="1.0"?>
<configuration>
    <system.serviceModel>
        <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true"/>
        <services>
            <service behaviorConfiguration="UserService" name="GameForestCore.Services.GFXUserService">
                <endpoint address="" behaviorConfiguration="web" binding="webHttpBinding" contract="GameForestCore.Services.IGFXUserService"/>
            </service>
            <service behaviorConfiguration="LobbyService" name="GameForestCore.Services.GFXLobbyService">
                <endpoint address="" behaviorConfiguration="web" binding="webHttpBinding" contract="GameForestCore.Services.IGFXLobbyService"/>
            </service>
            <service behaviorConfiguration="GameService" name="GameForestCore.Services.GFXGameService">
                <endpoint address="" behaviorConfiguration="web" binding="webHttpBinding" contract="GameForestCore.Services.IGFXGameService"/>
            </service>
        </services>
        <behaviors>
            <endpointBehaviors>
                <behavior name="web">
                    <webHttp/>
                </behavior>
            </endpointBehaviors>
            <serviceBehaviors>
                <behavior name="UserService">
                    <serviceMetadata httpGetEnabled="true"/>
                    <serviceDebug includeExceptionDetailInFaults="true"/>
                </behavior>
                <behavior name="LobbyService">
                    <serviceMetadata httpGetEnabled="true"/>
                    <serviceDebug includeExceptionDetailInFaults="true"/>
                </behavior>
                <behavior name="GameService">
                    <serviceMetadata httpsGetEnabled="true"/>
                    <serviceDebug includeExceptionDetailInFaults="true"/>
                </behavior>
            </serviceBehaviors>
        </behaviors>
    </system.serviceModel>
    <system.webServer>
        <modules runAllManagedModulesForAllRequests="true"/>
        <directoryBrowse enabled="true"/>
    </system.webServer>
    <system.web>
        <compilation debug="true" targetFramework="4.5"/>
        <pages controlRenderingCompatibilityVersion="4.0"/>
        <urlMappings>
            <add url="~/upload" mappedUrl="Services/GFXFileUpload.ashx"/>
        </urlMappings>
    </system.web>
    <connectionStrings>
        <add name="GameForestConnection" connectionString="Server=localhost;Database=GameForest;Uid=root;Pwd=1234;"/>
    </connectionStrings>
</configuration>
